@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gugi&family=Jua&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Orbit&family=Poor+Story&family=Yeon+Sung&display=swap');

html,
body {
  margin: 0px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  font-family: "Poor Story", sans-serif;
  font-weight: 500;
  font-style: normal;
}


body {
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}