.Button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    font-size: 15px;
    font-family: "Poor Story", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Button_default {
    background-color: #ececec;
    color: black;
}

.Button_positive {
    background-color: #64c964;
    color: white;
}

.Button_nagative {
    background-color: #fd565f;
    color: white;
}