    .EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .EmotionItem img {
    width: 50%;
    }

    .EmotionItem span {
    font-size: 16px;
    font-family: "Poor Story", system-ui;
    font-weight: 600;
    font-style: normal;
    }

    .EmotionItem_off {
    background-color: #ececec;
    }

    .EmotionItem_on_1 {
    background-color: #fd565f;
    color: white;
    }

    .EmotionItem_on_2 {
    background-color: #fd8446;
    color: white;
    }

    .EmotionItem_on_3 {
    background-color: #0000008a;
    color: white;
    }

    .EmotionItem_on_4 {
    background-color: #9dd772;
    color: white;
    }

    .EmotionItem_on_5 {
    background-color: #64c964;
    color: white;
    }
